
{% load staticfiles %}

<!DOCTYPE HTML>
<html>
    <head>
    <title>Team Awesome</title>
	<!-- META -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
	<!-- Stylesheets -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style-tablet.css' %}" media="screen and (max-width: 900px) and (min-width: 671px)"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style-phone.css' %}" media="screen and (max-width: 670px)"/>
	
	<!-- JQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	
	<!-- Google Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_1Ijvtp6zzpRa0afQVQMyc1WUqysYlUo&sensor=false"></script>
    <script type="text/javascript" src="{% static 'js/js-mousetrap.js' %}"></script>
	
	
	<!-- js-inbox.js -->
    <script type="text/javascript" src="{% static 'js/js-inbox.js' %}"></script>
</head>
<body>
	<div id="container">
		<div id="header">
            <img id="logo" src="{% static 'images/logo.png' %}"/>
			
			<div id="nav">
				<!-- <a class="item" href="#">Inbox</a>\
 -->
				<!-- <a class="item" href="#">Map</a>\
 -->

			</div><!-- /#nav -->
		</div><!-- /#header -->
		
		<div id="content">
			
			<div id="leftsidebar">
            </div>
			<div id="mapoutput">
			</div>
			
		</div><!-- /#content -->
		
		<div id="footer">
		</div><!-- Footer -->
	</div><!-- /#container -->
</body>
</html>
