/* Stylesheet for Unicef Hackathon Project */

/* Reset */
*{
	margin:0px;
	padding:0px;
}

/* Body and Typography */
body{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#000;
	background:#ccc url('../images/background-tile.png');
}

h1,h2,h3,h4,a{
	color:#13B3F0;
	text-decoration:none;
	padding-bottom:10px;
}

/* Container */

#container{
	margin:0px auto;
	padding:10px;
	width:880px;
	background:#fff;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}

/* Header, Logo and Navigation */

#header{
	position:relative;
	width:100%;
	height:100px;
	background:#ccc;
}

#logo{
	padding:10px;
}

#nav{
	position:absolute;
	bottom:10px;
	right:10px;
}

#nav .item{
	color:#000;
	width:65px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	padding:5px;
	background:#fff;
	display:block;
	float:left;
	margin-left:10px;
	border:1px #fff solid;
}

#nav .item:hover{
	background-color:#13B3F0;
	color:#fff;
}

/* Footer */
#footer{
	font-size:10px;
	text-align:center;
	clear:both;
}
#footer a{
	color:#fff;
	text-decoration:underline;
}

/* Content */
#content{
	clear:both;
	margin-top:10px;
	width:auto;
}

#leftsidebar{
	width:200px;
	float:left;
}

#leftsidebar .item{
	padding:5px;
	background:#ccc;
	margin-bottom:10px;
}

#leftsidebar .item.danger{
	background:#FF9F9F;
}

#leftsidebar .item.local{
	background:#E7D989;
}

#leftsidebar .item .map{
	float:right;
}

#leftsidebar .item .from{
	font-weight:bold;
	font-size:16px;
}

#leftsidebar .item .messagebody{
	font-size:12px;
}

#leftsidebar .item .operations{
	text-align:center;
	display:none;
	margin:10px 0px;
}

#leftsidebar .item .operations a{
	padding:5px;
	background:#fff;
	color:#000;
}
#leftsidebar .item .datetime{
    font-size:10px;
}



#mapoutput{
	background:#8c8c8c url('../images/loading.gif') no-repeat center center;
	margin-left:210px;
	width:auto;
	height:450px;
}
